* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f9f9f9;
}

header {
    display: flex;
    background-color: #0172c1;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 3px solid #005c99;
}

a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.foto img {
    height: 250px;
    width: 392px;
}

.logo {
    display: flex;
}

.logo img {
    width: auto;
    height: 54px;
}

nav a {
    padding-right: 30px;
    font-weight: 600;
    text-align: center;
}

nav a:hover {
    color: black;
}

article h2,
h4,
h6,
p {
    color: black;
    width: auto;
}

.ex {
    background-color: #f1f1f1;
    height: 30px;
    text-align: left;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

aside.fixture-panel {
    width: 28%;
    max-width: 460px;
    background: #f1f1f1;
    padding: 10px 15px;
    border-left: 3px solid #005c99;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    font-size: 14px;
}

aside.fixture-panel h2 {
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
    color: #333;
}

section.rightcolumn {
    width: 72%;
    background-color: white;
    text-align: left;
    padding-left: 10px;
}

.desing-card {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-between;
}

.desing-card .card {
    flex: 1 1 calc(50% - 20px);
}

.card {
    background-color: #f1f1f1;
    padding: 10px;
}

footer {
    background-color: #0172c1;
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 30px;
    height: 120px;
    border: 3px solid #005c99;
}

footer .ft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

footer .ft h5 {
    color: black;
    margin-bottom: 5px;
}

footer .ft a {
    color: white;
}

footer .ft a:hover {
    color: black;
}

.card h4,
h6,
p,
details {
    margin-top: 8px;
    margin-bottom: 8px;
}

aside th,
tr {
    text-align: center;
    padding: 10px;
    border: 1px solid #4682B4;
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    border: 2px solid #4682B4;
    background-color: #ecf0f1;
}

th,
td {
    text-align: center;
    padding: 4px;
    border-bottom: 1px solid #eee;
}

thead {
    background-color: #007bff;
    color: #fff;
    font-size: 13px;
}
